
POSTGRES_DB=flowers_db
POSTGRES_USER=flowers_user
POSTGRES_PASSWORD=flowers_pass

OLLAMA_MODEL=llama3.2:1b
OLLAMA_TIMEOUT_SECONDS=45
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=14

PGADMIN_DEFAULT_EMAIL=admin@flowers.com
PGADMIN_DEFAULT_PASSWORD=admin
