fastapi==0.115.12
pydantic==2.10.6
uvicorn[standard]==0.34.2
sqlalchemy==2.0.41
psycopg2-binary==2.9.10
python-dotenv==1.0.1
passlib==1.7.4
python-jose[cryptography]==3.5.0
ecdsa==0.19.1
rsa==4.9.1
pyasn1==0.6.1
pandas==3.0.1
numpy==2.4.3
joblib==1.5.3
xgboost==2.1.4
scikit-learn==1.6.1
